*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra de navegación */
.nav{
    background-color: cadetblue;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav__titulo{
    display: inline-block;
    font-size: 80px;
    font-style: italic;
    margin: 10px 120px;
    color: rgb(5, 18, 80);
}
.nav__comprar{
    display: inline-block;
    font-size: 50px;
    font-style: italic;
    color: rgb(5, 18, 80);
    margin: 20px;
    margin-left: 80px;
    text-decoration: none;
}
.nav__comprar--hover:hover{
    background-color: rgb(54, 112, 86);
    border-radius: 10px;
    padding: 5px;
}
.nav__vehiculos{
    display: inline-block;
    font-size: 50px;
    font-style: italic;
    color: rgb(5, 18, 80);
    margin: 20px;
    text-decoration: none;
}
.nav__vehiculos--hover:hover{
    background-color: rgb(54, 112, 86);
    border-radius: 10px;
    padding: 5px;
}
.nav__sfinan{
    display: inline-block;
    font-size: 50px;
    font-style: italic;
    color: rgb(5, 18, 80);
    margin: 20px;
    text-decoration: none;
}
.nav__sfinan--hover:hover{
    background-color: rgb(54, 112, 86);
    border-radius: 10px;
    padding: 5px;
}
.nav__postventa{
    display: inline-block;
    font-size: 50px;
    font-style: italic;
    color: rgb(5, 18, 80);
    margin: 20px;
    text-decoration: none;
}
.nav__postventa--hover:hover{
    background-color: rgb(54, 112, 86);
    border-radius: 10px;
    padding: 5px;
}

/* Estilos a las cards */
.card1{
    background-color: rgb(182, 127, 182);
    margin-left: 30px;
    margin-top: 150px;
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
    width: 600px;
    height: 380px;
}
.card1__s--hover:hover{
    background-color: rgb(166, 122, 208);
}
.card1__titulo{
    font-size: 60px;
    font-style: italic;
    text-align: center;
    color: rgb(76, 25, 123);
}
.card1__img{
    width: 550px;
    margin-left: 8px;
}
.card2{
    background-color: cornflowerblue;
    margin-left: 20px;
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
    width: 600px;
    height: 380px;
}
.card2__s--hover:hover{
    background-color: rgb(120, 142, 181);
}
.card2__titulo{
    font-size: 60px;
    font-style: italic;
    text-align: center;
    color: blueviolet;    
}
.card2__img{
    width: 540px;
    margin-left: 15px;
}
.card3{
    background-color: rgb(66, 185, 147);
    margin-left: 20px;
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
    width: 600px;
    height: 380px;
}
.card3__s--hover:hover{
    background-color: rgb(64, 146, 152);
}
.card3__titulo{
    font-size: 60px;
    font-style: italic;
    text-align: center;
    color: rgb(41, 72, 184);  
}
.card3__img{
    width: 560px;
    height: 270px;
    margin-left: 4px;    
}

/* Estilos para la cotización */
.cotiza{
    background-color: rgba(17, 16, 16, 0.491);
    margin-top: 15px;
    padding: 15px;
}
.cotiza__titulo{
    text-align: center;
    font-size: 55px;
    margin-bottom: 15px;
    color: rgb(33, 27, 71);
}
.cotiza__n{
    display: inline-block;
}
.cotiza__nom{
    font-size: 50px;
    margin-left: 120px;
}
.cotiza__llnom{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 120px;
    border-radius: 15px;
    border: none;
}
.cotiza__a{
    display: inline-block;
    margin-left: 120px;
}
.cotiza__ape{
    font-size: 50px;
    margin-left: 15px;    
}
.cotiza__llape{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 15px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__cd{
    display: inline-block;
    margin-left: 120px;
}
.cotiza__cedula{
    font-size: 50px;
    margin-left: 15px; 
}
.cotiza__llcedu{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 15px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__cel{
    display: inline-block;
}
.cotiza__celular{
    font-size: 50px;
    margin-left: 120px; 
}
.cotiza__llcelu{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 120px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__f{
    display: inline-block;
}
.cotiza__fecha{
    font-size: 50px;
    margin-left: 75px; 
}
.cotiza__llfecha{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 135px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__e{
    display: inline-block;
}
.cotiza__e-mail{
    font-size: 50px;
    margin-left: 80px; 
}
.cotiza__llemail{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 80px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__m{
    display: inline-block;
}
.cotiza__modelos{
    font-size: 50px;
    margin-left: 120px; 
}
.cotiza__llmodelos{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 120px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__ciu{
    display: inline-block;
}
.cotiza__ciudad{
    font-size: 50px;
    margin-left: 130px; 
}
.cotiza__llciudad{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 135px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__con{
    display: inline-block;
}
.cotiza__conc{
    font-size: 50px;
    margin-left: 130px; 
}
.cotiza__llconc{
    font-size: 30px;
    width: 460px;
    height: 60px;
    margin-left: 130px;   
    border-radius: 15px;
    border: none; 
}
.cotiza__req{
    margin-top: 20px;
}
.cotiza__t{
    font-size: 30px;
}
.cotiza__boton--hover{
    font-size: 35px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 10px;
    background-color: darkcyan;
    margin-left: 1050px;
}
.cotiza__boton--hover:hover{
    background-color: cadetblue;
}